
        
        *
        {
            margin: 0px;
            padding: 0px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        header
        {
            background-color: #4CAF50;
            color: white;
            font-weight: bold;
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        body
        {
            background-color: #f4f4f9;
            max-height: 100vh;
        }

        main
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3%;
        
        }

        button,input
        {
            padding: 10px;
           
        }

        

        .primary-button
        {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        h3
        {
            margin-bottom: 2vi;
        }
        .habits-list
        {
            margin-top:3%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #habit
        {
            display: flex;
            justify-content: space-evenly;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
            background-color: white;
            padding: 20px;
            border-radius: 1.5rem;
            gap: 35px;
        }

        .secondary-button
        {
            background-color: red;
            border-radius: 50%;
            border: none;
            color: white;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        i
        {
            cursor: pointer;
        }
        
        .habit-status-completed
        {
            border: solid #4CAF50 1px;
            border-radius: 50%;
            height: 1.3em;
            width: 1.3em;
            outline: none;
            appearance: none;
            -webkit-appearance: none;
        }

        .habit-status-completed:checked
        {
            background-color: #4CAF50;
        }


        .habit-status-skipped
        {
            border: solid #e41f1f 1px;
            border-radius: 50%;
            height: 1.3em;
            width: 1.3em;
            outline: none;
            appearance: none;
            -webkit-appearance: none;
        }
        .habit-status-skipped:checked
        {
            background-color: #e41f1f;
        }

        .habit-status-completed:checked
        {
            background-color: #4CAF50;
        }


        .habit-header
        {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            margin-left: 20px;
            margin-right: 20px;
            padding: 20px;
            border-radius: 1.5rem;
            gap: 251px;
            margin-bottom: 1rem;
        }

        .habitcenter{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap:20px;
        }

        .habits-status
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;

        }

        .pending-habits,.completed-habits
        {
            background-color: white;
            border-radius: 1.5rem;
            padding: 20px;


        }

        .update-button
        {
            display: none;
        }
